body {
  background-color: #2b333a;
  color: #eee;
}

main {
  position: relative;
}

#left-pane article {
  padding: 10px 25px;
  border-bottom: 1px solid #49525a;
  border-right: 1px solid #49525a;
  font-size: 15px;
}

#left-pane article:hover {
  cursor: pointer;
  color: #fff;
  background-color: #282c34;
}

.age {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
  white-space: nowrap;
}

#left-pane {
 padding-right: 0;
}

#right-pane {
  padding-left: 0;
  position: relative;
  top: 0;
}
#right-pane article {
  padding: 25px;
  font-size: 16px;
  position: absolute;
}
#right-pane .img {
  margin-top: -50px;
  height: 200px;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

h1 {
  border-bottom: 1px solid #49525a;
  font-size: 21px;
  margin: 0;
  font-weight: 100;
  padding: 15px 25px;
}

h2 {
  font-size: 26px;
}
h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mobile-description {
  display: none;
}
.mobile-description > p {
  margin-top: 10px;
  color: #999;
}
.mobile-description .button {
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #left-pane {
    width: 100%;
  }
  #right-pane {
    display: none;
  }
  .mobile-description {
    display: block;
    margin-top: 15px;
  }
}